body,
ul {
  margin: 0;
  padding: 0;
  font-family: "BMEuljiro10yearslater";
}

body {
  background-color: rgba(250, 230, 150, 0.3);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: "BMEuljiro10yearslater";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/BMEuljiro10yearslater.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-size: 50px;
  margin: 30px;
  transition: all 0.4s;
  white-space: nowrap;
}

#seat_cnt {
  font-size: 45px;
}

li {
  list-style-type: none;
}

.none {
  display: none !important;
}

.delete {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.seat_btn,
.manual_seat_btn {
  border: none;
  background: none;
  font-size: 30px;
  padding: 0;
  transition: all 0.4s;
}

.random_num {
  font-size: 30px;
  transition: all 0.4s;
}

input[type="range"] {
  width: 200px;
}

#container {
  margin-top: 20px;
  padding: 5px;
}

.line {
  display: flex;
}

.seat {
  flex-grow: 1;
  flex-basis: 30px;
  flex-shrink: 0;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(170, 120, 30, 0.4);
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.btns {
  margin-top: 15px;
}

.btn:active {
  transform: scale(0.9);
}

#del_btn,
#num_btn,
#manual_num_btn,
#manual_del_btn,
#chat_btn {
  font-family: "BMEuljiro10yearslater";
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  box-shadow: -1px -1px 1px 1px #999;
  transition: all 0.4s;
}

#del_btn:hover,
#num_btn:hover,
#pick_btn:hover,
#manual_num_btn:hover,
#manual_del_btn:hover,
#manual_pick_btn:hover {
  background-color: rgba(170, 120, 30, 0.2);
}

#del_btn:focus,
.seat_btn:focus,
#num_btn:focus,
#pick_btn:focus,
#manual_btn:focus,
#manual_num_btn:focus,
#manual_del_btn:focus,
#manual_pick_btn:focus,
.manual_seat_btn:focus,
#chat_btn:focus {
  outline: none;
}

.num_form,
.manual_num_form {
  margin-top: 10px;
  font-size: 18px;
}

#num_input,
#manual_num_input {
  height: 20px;
  background-color: #fff;
  border-color: #fff;
  border-radius: 4px;
  margin-top: 10px;
}

.col_input,
.row_input {
  font-size: 17px;
}

#pick_btn,
#manual_btn,
#manual_pick_btn {
  font-family: "BMEuljiro10yearslater";
  font-size: 18px;
  background-color: #fff;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: -1px -1px 1px 1px #999;
  transition: all 0.4s;
  white-space: nowrap;
}

.retry {
  animation: retry 1s infinite;
  transition: all 0.4s;
}

.change {
  animation: change 0.5s;
}

.ad {
  display: grid;
  width: 700px;
  height: 250px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  transition: all 0.4s;
}

.ad_banner {
  width: 320px;
  margin: 0 auto;
}

#disqus_thread {
  padding: 0 10px;
}

#manual_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
}

#manual_btn:hover {
  background-color: gold;
}

#manual {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  border: 2px solid rgba(170, 120, 30, 0.8);
  margin-top: 30px;
}

#manual ul {
  width: 90%;
}

#manual ul,
#manual li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#manual li {
  width: fit-content;
  margin-bottom: 30px;
}

.manual_title,
.chat_title {
  font-size: 35px;
  margin: 20px;
  transition: all 0.4s;
  white-space: nowrap;
}

.manual_important {
  color: red;
}

.manual_num_form {
  margin-bottom: 20px;
}

.manual_seat {
  width: 150px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(170, 120, 30, 0.4);
  margin-top: 20px;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 20px;
}

#chat {
  margin-top: 50px;
}

.chat_title {
  margin-bottom: 0;
  text-align: center;
}

#chat_btn {
  margin-top: 10px;
  animation: retry 1s infinite;
}

.copyright {
  text-align: center;
  margin: 10px 0;
}

@media (max-width: 720px) {
  .ad {
    width: fit-content;
    height: 500px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@keyframes change {
  0% {
    color: black;
  }
  50% {
    color: gold;
  }
  100% {
    color: black;
  }
}

@-moz-keyframes change {
  0% {
    color: black;
  }
  50% {
    color: gold;
  }
  100% {
    color: black;
  }
}

@-webkit-keyframes change {
  0% {
    color: black;
  }
  50% {
    color: gold;
  }
  100% {
    color: black;
  }
}

@keyframes retry {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: gold;
  }

  100% {
    background-color: #fff;
  }
}

@-moz-keyframes retry {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: gold;
  }

  100% {
    background-color: #fff;
  }
}

@-webkit-keyframes retry {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: gold;
  }

  100% {
    background-color: #fff;
  }
}

@media (min-height: 950px) {
  .title {
    font-size: 70px;
  }
  #seat_cnt {
    font-size: 63px;
  }
  .col_input,
  .row_input,
  .num_form,
  .manual_num_form,
  .manual_col_input,
  .manual_row_input {
    zoom: 1.5;
  }
  #del_btn,
  #num_btn,
  #manual_num_btn,
  #manual_del_btn {
    font-size: 30px;
    margin-top: 20px;
    padding: 15px;
  }
  #pick_btn,
  #manual_pick_btn {
    width: 75px;
    height: 75px;
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
}

@media (min-height: 1250px) {
  .title {
    font-size: 100px;
  }
  #seat_cnt {
    font-size: 90px;
  }
  .col_input,
  .row_input,
  .num_form,
  .manual_num_form,
  .manual_col_input,
  .manual_row_input {
    zoom: 2;
  }
  #del_btn,
  #num_btn,
  #manual_num_btn,
  #manual_del_btn {
    font-size: 40px;
    margin-top: 20px;
    padding: 15px;
  }
  #pick_btn,
  #manual_pick_btn {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }
  p {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .num_col10,
  .num_col9 {
    font-size: 25px !important;
  }
}

@media (max-width: 500px) {
  .btn_col10,
  .num_col8,
  .num_col7 {
    font-size: 25px !important;
  }
  .num_col10 {
    font-size: 20px !important;
  }
}

@media (max-width: 450px) {
  .btn_col9 {
    font-size: 25px !important;
  }
  .num_col9 {
    font-size: 20px !important;
  }
}

@media (max-width: 430px) {
  .btn_col10,
  .num_col8 {
    font-size: 20px !important;
  }
}

@media (max-width: 400px) {
  .btn_col9,
  .num_col7 {
    font-size: 20px !important;
  }
  .btn_col8,
  .num_col6 {
    font-size: 25px !important;
  }
  .title {
    font-size: 40px;
  }
  #seat_cnt {
    font-size: 36px;
  }
}

@media (max-width: 350px) {
  .btn_col8,
  .num_col6 {
    font-size: 20px !important;
  }
  .btn_col7,
  .num_col5 {
    font-size: 25px !important;
  }
}

@media (max-width: 300px) {
  .btn_col7,
  .num_col5 {
    font-size: 20px !important;
  }
  .btn_col6,
  .num_col4 {
    font-size: 25px !important;
  }
}

@media (max-width: 260px) {
  .btn_col6,
  .num_col4 {
    font-size: 20px !important;
  }
  .btn_col5 {
    font-size: 25px !important;
  }
}

@media (max-width: 220px) {
  .btn_col5 {
    font-size: 20px !important;
  }
  .btn_col4,
  .num_col3 {
    font-size: 25px !important;
  }
}
